* {
  font-size: 1.25rem;
  font-family: 'Cute Font', cursive;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

.container-fluid {
  max-width: 100%;
  padding-bottom: 1.5rem;
}
.centered-element {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}/* Flash msg */
.flash-message {

  border-radius: 5px;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
}

.success {
  background-color: #4CAF50; /* green */
}

.error {
  background-color: #f44336; /* red */
}

.info {
  background-color: #2196F3; /* blue */
}

.warning {
  background-color: #ff9800; /* orange */
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
}
/* base page */

#userInfo {
  right: 0rem;
  top: 3rem;
  position: absolute;
  border-radius: 5px;
  z-index: 9999;
  line-height: normal;
}
#userInfoBtn{
  font-weight: bold;
  text-align: center;
}


#homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../img/lab.png");
  opacity: 0.25;
  z-index: -1;
}
.showHover {
  position: absolute;
  line-height: normal;
}


/* custom color class based on Pokedex design */
/* For detail page */
.pokedex-bg{
  background-color:#DE1537;

}
.pokedex-blue{
background-color: #27A4F3;
}
.pokedex-green{
background-color: #4CA459;
}
.pokedex-gray{
background-color: #DEDEDE;
}

.pokeStat-table {
padding: 0;
border-radius: 5px;
margin-bottom: 0;
}

/* For battle page */
#battle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-image: url("../img/battle_field.png");
  opacity: 0.25;
  z-index: -1;
}

/* For map page */
.controller {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  border-radius: 10px;
  padding-bottom: 1.25rem;
}


.controlBtn {
  background-color: #ccc;
  border-radius: 50%;
  margin: 5px;
}


.pokemon {
  padding: 5px;
  line-height: normal;
}

#updateFrom {
  position: absolute;
  color: red;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 999;
}

.btn-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.circle {
  border-radius: 50%;
  border: solid 10px #817c7c;
}

/* For mobile */
@media (max-width: 767px) {
  * {
    font-size:16px;
  }
  .oak-img {
    height: 30vh;
  }

  .page-center {
    width: 100%;
    margin: 0 auto;
  }

  .card {
    background-color: transparent;
  }
  .circle{
    width: 120px;
    height: 120px;
    padding: 5px;
  }
  .square-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 15%;
    background-color: #333333;
    font-size: 24px;
  }#battle-log {
    height: 20vh;
    overflow: auto;
  }
  #userInfoBtn{
    height: 50px;
    width: 50px;
  }
}
/* For Desktop */
@media (min-width: 768px) {
  .oak-img {
    height: 40vh;
  }

  .page-center {
    height:20%;
    width: 80%;
    margin: 0 auto;
  }

  .card {
    background-color: transparent;
  }
  .circle{
    width: 180px;
    height: 180px;

    padding: 7.5px;
  }
  .square-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 15%;
    background-color: #333333;
    font-size: 36px;
  }#battle-log {
    height: 100%;
    overflow: auto;
  }  #userInfoBtn{
    height: 75px;
    width: 75px;
  }
}
/* For homapage blinking text */
@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blinking {
  animation: blinking 1.5s infinite;
}

/* For Attack button */
.button-attack {
  margin: 5px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-attack:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-attack:active {
  transform: scale(0.95);
}

.button-fight.disabled {
  pointer-events: none;
  background-color: gray;
  opacity: 0.5; /* Optional: Reduce opacity to visually indicate the button is disabled */
}

.table{
  border-radius: 5px;
}

@keyframes shake-atk {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake-def {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake-atk-animation {
  animation: shake-atk 1s ease-in-out;
}

.shake-def-animation {
  animation: shake-def 1s ease-in-out;
}
