<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Your custom styles -->
    
    {% block title %}
    <title>Pokemon</title>
    {% endblock %}
</head>
<body>
  <div class="container">
    <nav>

      <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="/">Homepage</a></li> 
            <li class="nav-item"><a class="nav-link"href="/battle">Battle</a></li>
            <li class="nav-item"><a  class="nav-link"href="/map_pokemons">Map</a></li>
            <li class="nav-item"><a class="nav-link"href="/fetch_pokemons">Fetch Pokemon</a></li>
            
            <li class="nav-item"><a class="nav-link"href="/view_pokemons">View Pokemon</a></li>
            <li class="nav-item"><a class="nav-link" href="/player_list">Player_list</a></li>
            <li class="nav-item"><a class="nav-link"href="/logout">Logout</a></li>
            
            <li class="nav-item"><a class="nav-link"href="/login">Login</a></li>          
            <li class="nav-item"><a class="nav-link"href="/signup">Signup</a></li>  

        </ul>
    </nav>
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
  {% endfor %}
{% block content %}
{% endblock %}

</div>
{% block js %}
{% endblock %}

</body>
</html>
