<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
    <!-- Google Font "Cute Font" -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Your custom styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    
    <title>{{title}} | PokeDex Explore</title> 
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-warning" id="navBarBase">
    <a class="navbar-brand" href="/">PokeDex Explore | APP</a>
    <div class="ml-auto order-lg-last">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if 'username' in session %}
      <button class="btn btn-primary rounded-circle" id="username" onclick="toggleUserInfo()">{{ session['username'] }}</button>
      <div id="userInfo" style="display: none;">
        <img id="userImg" src="{{ session['img'] }}" width="50px" />
        <div>ID: {{ session['player_id'] }}</div>
        <div>Username: {{ session['username'] }}</div>
        <div>Email: {{ session['email'] }}</div>
        <div>Pokemon Numbers: {{ session['pokemon_num'] }}</div>
        <a href="/profile">Edit Profile</a>
      </div>
    </div>
    {% endif %}
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="/">Homepage</a></li>
        <li class="nav-item active"><a class="nav-link" href="/battle_players">Battle</a></li>
        <li class="nav-item active"><a class="nav-link" href="/map_pokemons">Map</a></li>
        {% if 'username' in session %}
        <li class="nav-item active"><a class="nav-link" href="/view_pokemons">View Pokemon</a></li>
        <li class="nav-item active"><a class="nav-link" href="/logout">Logout</a></li>
        {% else %}
        <li class="nav-item active"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item active"><a class="nav-link" href="/signup">Signup</a></li>
        {% endif %}
      </ul>
    </div>   
  </nav>
  
    
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
      <div class="flash-message {{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


{% block content %}
{% endblock %}


<footer class="text-center text-white bg-warning">
  &copy; <span id="currentYear"></span> Alan Hwader Chu. All rights reserved.
</footer>


{% block js %}
{% endblock %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    let currentYear = new Date().getFullYear();
    document.getElementById("currentYear").textContent = currentYear;
  });
  function toggleUserInfo() {
    const userInfoNav = document.getElementById("userInfo");
    userInfo.style.display = userInfo.style.display === "none" ? "block" : "none";
  }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
