{% extends 'base.html' %}

{% block title %}
<title>{{title}}</title>
{% endblock %}

{% block content %}
<div id="opponent_id" hidden>{{opponent_id}}</div>
<div class="container-fluid" id="battle">

</div>

{% endblock %}

{% block js %}
<script src="/static/js/battleOver.jsx" type="text/jsx"></script>
<script src="/static/js/battleOpp.jsx" type="text/jsx"></script>
<script src="/static/js/battlePlayer.jsx" type="text/jsx"></script>
<script src="/static/js/battle.jsx" type="text/jsx"></script>
{% endblock %}