{% extends 'base.html' %}
{% block title %}
<title>MAP Pokemon</title>
{% endblock %}

{% block content %}
<div id="map" style="width: 100%; height: 400px;">
</div>

<div id="arrowBtnContainer">
  <button id="upBtn">&#8593;</button>
  <button id="downBtn">&#8595;</button>
  <button id="leftBtn">&#8592;</button>
  <button id="rightBtn">&#8594;</button>
</div>
<button id="addUserMakerBtn">Add User Marker</button>
<button id="addPokemonMakerBtn">Add Pokemon Markers</button>
<button id="addPlayerMakerBtn">Add Players Markers</button>
<div id="calCommuteTime" style="width: 100%; height: 400px;">
Here shows commute time:</div>
{% endblock %}

{% block js %}
<script src="/static/js/map_pokemon.js"></script>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3bhSLm75WR88UEUqhWYT6MdDl3unhwDU&callback=initMap">
</script>
{% endblock %}

