{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="border border-5 rounded-4 border-dark" id="map" style="width: 100%; height: 60%;"></div>

<div class="controller col-12">

  <div class="col-8 order-3 col-lg-4 order-lg-1 px-2 my-1">
    
    <div class="p-1 text-center">Username: 
      <span class="bg-dark text-white" style="width: 200px;">
        {% if "username" in session %}
        {{ session['username'] }}
        {% else %}
        NOT LOGIN
        {% endif %}
      </span>
    </div>
    <div class="p-1 col-12 col-lg-12 d-flex flex-column">
      {% if "pokemon_num" in session %}
      <div class ="d-flex justify-content-around m-1">
      <button type="button" class="btn btn-primary btn-sm" id="addUserMakerBtn">Show My Location</button>
      <button type="button" class="btn btn-primary btn-sm" id="addPokemonMakerBtn">Add Pokemons</button>
      </div>
      <div class ="d-flex justify-content-around">
      <button type="button" class="btn btn-danger btn-circle btn-sm" id="addPlayerOne" {% if session['pokemon_num'] < 1 %}disabled{% endif %}>1v1</button>
      <button type="button" class="btn btn-danger btn-circle btn-sm" id="addPlayerTwo" {% if session['pokemon_num'] < 2 %}disabled{% endif %}>2v2</button>
      <button type="button" class="btn btn-danger btn-circle btn-sm" id="addPlayerThree" {% if session['pokemon_num'] < 3 %}disabled{% endif %}>3v3</button>
    </div>
      {% endif %}
    </div>
  </div>


  <div class="col-12 order-1 col-lg-6 order-lg-2 text-center px-1">  
    <div>Here shows commute time:</div>
    <div class="text-light bg-dark" id="showCommuteTime">
      <br/>
      <br/>
      <br/>
    </div>
  </div>
  
      
  <div class="remote-control col-4 order-2 col-lg-2 order-lg-3 d-flex justify-content-center align-items-center my-auto">
    <div class="border border-3 rounded-circle circle">
    <div class="d-flex justify-content-center">
      <div class="square-btn ">
        <button class="controlBtn border-0 bg-transparent" id="upBtn">
          <i class="fa">&#xf0d8;</i>
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="square-btn ">
        <button class="controlBtn border-0 bg-transparent" id="leftBtn">
          <i class="fa">&#xf0d9;</i>
        </button>
      </div>
      <div class="square-btn">
      </div>
      <div class="square-btn ">
        <button class="controlBtn border-0 bg-transparent" id="rightBtn">
          <i class="fa">&#xf0da;</i>
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="square-btn ">
        <button class="controlBtn border-0 bg-transparent" id="downBtn">
          <i class="fa">&#xf0d7;</i>
        </button>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}

{% block js %}
<script src="/static/js/mapPokemon.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key={{ map_API }}&callback=initMap"></script>
{% endblock %}
